### Say "Hello" to the world in Python

##### [Tip]: To execute the following codes, select the cell and press shift + Enter)

In [ ]:
# First python output

print('Hello, World!')

In [ ]:
# Check the python version

import sys
print(sys.version)

In [ ]:
# Build in error message( Syntax error)

print("This will be printed")
frint("This will return an error")
Print("This will not be printed")

##### Rules for variable naming:
1. Variable names must start with a letter or an underscore
2. The remainder of your variable name may consist of letter, number and underscores
3. Names are case sensitive
4. What '=' does is assign the reference of the object on the right to the name on the left

In [ ]:
# Integer can be positive or negative (R)

2

In [ ]:
# Assign integer to a variable

a = 2
print(a)

In [ ]:
# Float represents real number.Also includes numbers with decimals

3.14

In [ ]:
# Floating point assigned to a variable

pi = 3.14
print(pi)

In [ ]:
#String

"Humanoid Robots"

In [ ]:
# Assign string to a variable

name = 'Humanoid Robots'
print(name)

In [ ]:
# Empty value or null data type

x = None
print(x)

In [ ]:
#Variable assignment works from left to right. Else gives you an syntax error

0 = x

In [ ]:
# Type of value 10

type(10)

In [ ]:
# Type of value 1.5

type(1.5)

In [ ]:
# Type :"Humanoid Robots"

type("Humanoid Robots")

In [ ]:
# Type of boolean
q = True
print(type(q))

In [ ]:
# Type of None [ Execute ]
x = None

### SHORTCUT KEYS ##

- m --> change cell to markdown
- y --> change cell to code
- a --> insert cell above
- b --> insert cell below
- dd --> delete a selected cell
- Shift L --> Toggle line numbers
- Ctrl + / --> comment and multiline comment


#### Click here for [Jupyter Documents](https://jupyter-notebook.readthedocs.io/en/stable/index.html)

### Typecasting : Converting from one object type to a different object type 
##### As in, Convert an integer into a float (e.g. 5 to 5.0

#### Converting int to float ( cast integer 2 to float )

In [ ]:
float(2)

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

In [ ]:
# Round up or down using round() function

print(round(1.7))
print(round(1.4))

In [ ]:
# Convert a string into an integer

int('100')

In [ ]:
# Convert a string into an integer with error

int('1 to 100 for print')

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

[Tip] : strings can be represented with single qoutes '100' or double qoutes"100"

In [ ]:
# Convert an integer(100) to a string [ Execute ]

### Expression and variables

#### Expressions

###### Includes operations among compatible types ( e.g., integers and floats) as in, +,-,*

In [ ]:
# Addition operation expression

10 + 11 + 22 + 33

In [ ]:
# Subtraction operation expression

20 - 25

In [ ]:
# Multiplication operation expression

4 * 5

In [ ]:
# Division operation expression

30/5

In [ ]:
# Integer division operation expression rounds to nearest integer

20 // 6

In [ ]:
# Mathematical expression with priority to multiplication

30 + 20 *3

In [ ]:
#Mathematical Expression with priority to expressions enclosed in parentheses. Order of operations referred to as PAMDAS

(30 + 20) *3

#### Variables

##### we can store values in variables for later use

In [ ]:
# Store value into variable

x = 10 + 20 + 30

In [ ]:
# Print out the value in variable

x

##### Perform operations on x and save the result to a new variable:
###### ( use meaningful variable names, so you and othes can read the code and understand it more easily)

In [ ]:
# Store the result of operation in another variable

var = x / 20
var

In [ ]:
# Overwrite variable with new value

var = var / 20
var

In [ ]:
# Assign string'Adolf Hitler' to variable 'Name' [ Execute]

### Indexing

A|d     | o | l | f   |  | H | i | t | l | e | r
--|:---------:|:-----------:|:------ :|:----:|----:|:---:|:---:|:---:|:---:|:--- :|:---
0|1     | 2  | 3 | 4   |5 | 6| 7 | 8 | 9 | 10 | 11

In [ ]:
# Access first indes and print first element in the string

print(Name[0])

##### Negative indexing

In [ ]:
# Print the second last element in the string

print(Name[-2])

In [ ]:
# Find the length of string

len(Name)

#### Slicing

###### Obtain multiple characters from a string using slicing. For eg., 0 to 2nd and 5th to 8th elementL

In [ ]:
Name[0:2]

In [ ]:
Name[5:8]

#### Stride

##### For eg.,select every second element

In [ ]:
# Get every second elements on index 0, 2, 4, 6...

Name[::2]

###### Let's incorporate slicing with the stride. 
###### Let's select the first five elements and then use the stride:

In [ ]:
# Get every third element in the range between Index 0 and index 4 

Name[0:4:3]

In [ ]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name.find('lf')

#### Concatenate Strings

In [ ]:
# Concatenate Strings

Sentence = Name + " was a German Politician"
Sentence

#### Escape sequences

###### Back slashes represent the beginning of escape sequences

In [ ]:
# New line escape sequence

print(Name + "\n was a German Politician")

In [ ]:
# Tab Escape sequence
print(Name + "\t was a German Politician")

In [ ]:
# Include back slash in string

print(Name + " \\ is the best" )

#### String Operations

##### Basic string operations using upper

In [ ]:
# Convert all the characters in string to upper case

A = "Everyday life is the latest album of Coldplay"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

In [ ]:
# Converting sequences or collection types

a = 'hello'
list(a)

In [ ]:
set(a)

In [ ]:
tuple(a)

#### Tuple
<br>
Tuples are an immutable data structure (cannot be altered).used for grouping data that will not need change, such as an IP address and port.
Tuples are presented with ()

In [ ]:
# Create your first tuple [ Tuples are similar to records in a database]

Movie = ("Bohemian Rhapsody",2018,7.8)
Movie

<br>The type of variable is a tuple.

In [ ]:
# Print the type of the tuple you created

type(Movie)

<br> 
Print out each value in the tuple:

In [ ]:
print(Movie[0])
print(Movie[1])
print(Movie[2])

In [ ]:
print(type(Movie[0]))
print(type(Movie[1]))
print(type(Movie[2]))

In [ ]:
# Tuple is immutable. elements can not be updated
Movie[1]='The Irishman'

<br>Tuple lets us 'chunk' together related information

In [ ]:
Movie1 = Movie + ("Pop music", 10)
Movie1

Tuple supports same sequence operations as strings and slicing

In [ ]:
# Slice from incedx 0 to index 3 [ Execute ]

Item assignment to one of the element will return an error since Tuple is immutable

In [ ]:
Movie1[1]="X"

In [ ]:
Movie1[1]

However we can still add additional information reference the existing tuple

In [ ]:
tuple3 = Movie[:3] + ("Queen", 20) + Movie1[3:]
tuple3

In [ ]:
# Assigning headers
tuple4 = ("Pop",20,4.5)
(Music, price, rating) = tuple4
print(Music)
print(price)
print(rating)

#### Nested Tuple

Tuple with another tuple with complex data types

In [ ]:
NestedT =(1, 2, ("Folk", "Country") ,(3,4),("Pop",(1,2)))

In [ ]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])

# [ Execute element 3 and 4 ]

### LISTS
<br> List is an ordered collection of values such as strings, integers and other lists as well,i.e., ordered collections of these values are referred to as sequences. The address of each element or item within a list is called an index

Create lists with elements enclosed in squared brackets [] like an array and is most commonly used collection type

In [ ]:
# Create a mixed list

FL = ["White Rose", 1.5, 2019, True]
FL

The elements of a list are not restricted to a single data type, 
which makes sense given that python is a dynamic language

In [ ]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',FL[0],
'\n Negative:' , FL[-3]  )
print('the same element using negative and positive indexing:\n Postive:',FL[1],
'\n Negative:' , FL[-2]  )
print('the same element using negative and positive indexing:\n Postive:',FL[2],
'\n Negative:' , FL[-1]  )

In [ ]:
#A list can contain another list as its element:
Nested_list = ["White Rose", 1.5, 2019, [10, 20]]
Nested_list

Lists are mutable, so you can change the values in a list

In [ ]:
# Change the element based on the index .is mutable

Music = ["Folk", 2010, 3.4]
print('Before change:', Music)
Music[0] = 'Country'
print('After change:', Music)

#### Add new elements to list

In [ ]:
NList = ["White Rose", 1.5]
NList.extend(['Rose', 2020])
NList

#### Another similar method is append

In [ ]:
NList = ["White Rose", 1.5]
NList.append(['Rose', 2020])
NList

#### Add a new element to list at a specific index

In [ ]:
# Insert new element at index 1
NList = ["White Rose", 1.5]
NList.insert(1,"Flower")
print(NList)

In [ ]:
# Delete the element based on the index

print('Before change:', Music)
del(Music[0])
print('After change:', Music)

In [ ]:
# Split the string, default is by space

'Chris Martin, Elvis Persley'.split(',')

In [ ]:
# Count occurence of any item in list

Count_I = ['Rose',1.2, 'Rose']
Count_I.count('Rose')

In [ ]:
# Concantenate lists

list = ['Rose',1.5]
list1 = ['Lilly',2.2]
print(list + list1)

#### Objects and References

In [ ]:
#Let's execute these assignment statements

A = "Pop"
B = "Pop"

A and B refers to a string object with letters "Pop", but does A and B refer to the same object ?

Since strings are immutable, python optimizes resources by making two names that refer to the same value refer to the same object

In [ ]:
#In this case A and B refer to same object

A is B

This is not the case with lists

In [ ]:
A = ["Pop","Hard Rock","Country"]
B = ["Pop","Hard Rock","Country"]
A == B

In [ ]:
A is B

#### Aliasing

In [ ]:
A = ["Pop","Hard Rock","Country"]
B = A

In [ ]:
A is B

In [ ]:
# Changes made with one reflects change in the other

A[0]= "Metallic"
B

In [ ]:
B

#### Cloning Lists

Keep copy of the original and modify the list

In [ ]:
A = ["Pop","Hard Rock","Country"]
B = A[:]
B

In [ ]:

# Replace index 0 of A by Metallic and execute B [ Execute ]

### Dictionaries

<br> A dictionary is a collection of  keys-value pairs. It is helpful to compare a dictionary to a list. Instead of the numerical indexes such as a list, dictionaries have keys.
To get a value, refer to it by its key

In [ ]:
# Create the dictionary. Multiple keys can hold same value

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

In [ ]:
# Access to the value by the key

Dict["key1"]

In [ ]:
Dict.keys()

In [ ]:
print(Dict.values())

 Each key is separated from its value by a colon "<code>:</code>".  Commas separate the items, and the whole dictionary is enclosed in curly braces "<code>{}</code>" .

#### why we use dictionaries at all when the same concept of mapping a key to a value could be implemented using a list of tuples ?

The reason is dictionaries are very fast, implemented using a technique called hashing, which allows us to access a value very quickly. If we wanted to find a value associated with a key, we would have to iterate over every tuple. What if the key wasn't in the list ?

In [ ]:
[('key1', 1),('key2',2)]

In [ ]:
#Dictionaries resemble JSON syntax
capitals = {
    'India': 'New Delhi',
    'France':'Paris',
    'Germany':'Berlin'
}

#capital_key = capitals['Germany']

for k in capitals.keys():
    print('{} is the capital of {}'.format(capitals[k],k))

#### Aliasing and copying

If we want to modify a dictionary and keep a copy of the original, use the "<code>copy</code>" method.

In [ ]:
Dict = {"key1": "Pop", "key2": "2019", "key3": "20.5"}

alias = Dict
copy = Dict.copy()

In [ ]:
alias["key2"]="Newkey"
Dict["key2"]

If we modify "<code>copy</code>", Dict will be unchanged

In [ ]:
copy["key2"]="update"
Dict["key2"]

## Sets

A set is unique( no repeats) unordered collection of objects and can be denoted with curly bracket {}. They are used in situations where it is only important that some things are grouped together and not what order they were included. Also it is much faster to check whether or not an element is in a set that to do in a list

In [ ]:
#Create a set

First_names = {'Adam','Nysa','Ron'}
First_names

In [ ]:
# Convert list to set . And set supports datatypes but not collections

album_list = [ "Elvis Persley", 1970,"Pop, Rock", 46.0, 65, "30-Nov-80", None, 10.0]
album_set = set(album_list)             
album_set

In [ ]:
# Convert list to set . assign set to music_genres [ Execute ]

music = ["pop", "pop", "rock","R&B", "disco"]


#music_genres

### Set logic Operators

In [ ]:
music_Band1 = set(["Queen",'Coldplay','Beatles'])
music_Band2 = set(["Beatles",'Queen','Passenger','Coldplay'])

In [ ]:
#Print two sets

music_Band1, music_Band2

In [ ]:
# Find the intersections of two sets using & 

intersection = music_Band1 & music_Band2
intersection

You can find all the elements that are only contained in music_Band1 using the difference method:

In [ ]:
music_Band2.difference(music_Band1)

In [ ]:
# Find the union of two sets

music_Band1.union(music_Band2)

In [ ]:
# Check if music_Band2 is superset
# tests whether each element of Band1 is in Band2

set(music_Band2).issuperset(music_Band1)

In [ ]:
# Check if music_band1 is subset
# teste whether each element of Band1 is in Band2

set(music_Band1).issubset(music_Band2)

In [ ]:
set({"Queen"}).issubset(music_Band1)

## Functions

Function is a resusable code which executes some logic. Their primary purpose is to help us organize programs into chunks that match how we think about the problem.

The syntax for a function definition is:

def NAME( PARAMETERS ):
    STATEMENTS
    
- A header line begins with a function name and parameter or argument within parenthesis.
- A body consists of one or more Python statements, indented at the same amount — recommending 4 spaces — from the header line
- For eg.; print(),len(),.append() are functions created by python creators

In [ ]:
# An example of a simple function definition.
#It's purpose is to print 'Hello' each time its called
def greet():
    print("Hello")

In [ ]:
greet()

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [ ]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [ ]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

<br>
Assign function `add_numbers` to variable `a`.

In [ ]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

### What is <code>for</code> loop?

The <code>for</code> loop enables you to execute a code block multiple times( or in iterations ). For example, you would use this if you would like to print out every element in a list.

In [ ]:
X = [1,2,3,4]
for i in X:
    print(i,end=" ")

Here's an example of mapping the 'min' function between two lists.

map() function applies logic to each element in the collection!

In [ ]:
#Cheapest prices between two stores

store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01,3.0]
cheapest = map(min, store1, store2)
cheapest

In [ ]:
## Use 'for' loop and print values of 'cheapest'

#### Lambda expressions ( you can assign a variable to lambda unlike function )

lambda creates an inline function that contains a single expression. Typically used with sorted, filter and map

In [ ]:
#instead of def function
greet = lambda:"Hello"
greet()

In [ ]:
# Only one function can be applied taking arguments
a = 10
sq = lambda x:x*x
sq(a)

In [ ]:
# Iterate over a list with value manipulation using map and lambda

a = map(lambda e : e.upper(), ['one', 'two', 'three', 'four'])
print(list(a))

In [ ]:
my_list = [3,-4,-2, 5, 1, 7]

list(filter(lambda x: x>0, my_list))

In [ ]:
my_list = []
for number in range(0, 100):
    if number % 2 == 0:
        my_list.append(number)
print(my_list,)

#### Using enumerate

##### A useful function for iterating data is enumerate , can be used to obtain index and element in the list

In [ ]:
numbers = ['one','two','three','four']

In [ ]:
# we will pass numbers as argument in thsi function and variable index as index 

for index, numbers in enumerate(numbers):
    print(index, ':',numbers)

<br>
Now the same thing but with list comprehension.

In [ ]:
# Returns only odd numbers
my_list = [number for number in range(0,100) if number % 3 == 0]
print(my_list,)

### What is <code>while</code> loop?  Not recommended for Data Analytics work!

As you can see, the <code>for</code> loop is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The <code>while</code> loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a **False** boolean value.

Let’s iterate through list <code>dates</code> and stop at the year 2015, then print out the number of iterations. This can be done with the following block of code:

In [ ]:
# While Loop 

dates = [2017, 2005, 2015, 2000]

i = 0
year = 0

while(year != 2015):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

##### Using for loop and if

In [ ]:
a = [2017,2005,2015,2010]
for i in a:
    print(i,end =" ")
    if i == 2015:
        break
else:
    print("search complete")